/* Add a black background color to the top navigation */
h1{
    text-align: center;
    font-weight: bold;
}
.menu {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .menu a {
    float:left;
    display:flex;
    color: #e1cece;
    text-align:left;
    padding: 14px 16px;
    text-decoration:solid;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .menu a:hover {
    background-color: #fdfefb;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .menu a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  #gg{
    text-align: center;
    font-size: large;
  }
  #ch{
    font-size: larger;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #060606;

  }
  #ff{
    image-resolution:inherit;
  }

  .cc{
    color: #131313;

  
  }
  .abo{
    background-image: url('abt.jpg');
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}